body,html{
    height: 100%;
    font-style:Arial, Helvetica, sans-serif;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
   
}

#converter{
    margin: 10px auto ;
    box-shadow: 0 0 2em black;
    max-width: 400px;
    height:100vh;
    background:white;
    position:relative;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
}
h1{
    
    background:rgb(75, 70, 70);
    color:white;
    margin: 0;
    padding:10px 28px;
    font-weight: 70px;
    font-size:40px;
    text-align: center;
    border-radius:15px 15px 0px 0px;
    -webkit-border-radius:15px 15px 0px 0px;
    -moz-border-radius:15px 15px 0px 0px;
}
label,.label{
    display:block ;
    font-size: 20px ;
    font-family: 'Montserrat', sans-serif;
    color: rgb(75, 70, 70);
    margin-bottom: 15px;
    text-align:justify;
    padding:5px 0;
    
}

input,select{
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}
.result{
    font-size:20px;
    text-align:center;
    margin-top:0;
    padding:0;
}
.inner{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 15px;
    margin: 20px;
    height:75%;
    display:inline-block;
    position: inherit;
    
}

.required{
    color: #fd1d1d;
}

.fa-heart{
    color:#fd1d1d;
}
p{
    text-align: center;
}
a{
    text-decoration: none;
}
